body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Poppins", sans-serif;
}

.title-bar {
    background: blue;
    padding: 18px;
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.table-container {
    width: 90%;
    margin: 30px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: lightblue;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: blueviolet;
    color: white;
}

thead th {
    padding: 15px;
    font-size: 16px;
}

tbody tr {
    text-align: center;
    font-size: 15px;
    padding: 12px;
}

tbody tr:nth-child(even) {
    background-color: #f4f6ff;
}

tbody tr:hover {
    background-color: #e0e7ff;
    cursor: pointer;
}

tbody td {
    padding: 12px;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    font-size: 18px;
}